<div class="col-12 mb-2">
    <div class="bill-box">
        <div class="img-wrapper">
            <img src="/assets/img/somtel.png" alt="img" class="image-block imaged w48">
        </div>
        <div class="price"> Somtel api</div>
        <p> Waa ka xunahay ciwaan kaan ma shaqeynaayo Fadlan la xariir qeybta adeega macaamiisha si laguugu sheego sababta hadana wac numberkaan</p> <br>
        <a href="tel:0615050435" class="btn btn-primary btn-block btn-sm">CALL NOW</a>
    </div>
</div>

<a href="/" class="btn btn-primary btn-block btn-sm">Home</a>