<div class="col-12 mb-2">
    <div class="bill-box">
        <div class="img-wrapper">
            <img src="/assets/img/somtel.png" alt="img" class="image-block imaged w48">
        </div>
        <div class="price">$ <%=  lacag %> </div>
        <p>Waxaad u dirtay number ka <%= num %> </p>
        <a href="<%= sending %>" class="btn btn-primary btn-block btn-sm">PAY NOW</a>
    </div>
</div>

<a href="/" class="btn btn-primary btn-block btn-sm">Home</a>