
<br>
<div class="section mt-4">
    <% if (message.length > 0 ) { %>
        <% if (message == 'del') { %>
           <div class="alert alert-imaged alert-danger alert-dismissible fade show" role="alert">
               <div class="icon-wrap">
                <ion-icon name="close-circle-outline"></ion-icon>
               </div>
               <div>
                   Deleted successfully ....
               </div>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
        <% } else if (message == 'adddone') { %>
            <div class="alert alert-imaged alert-success alert-dismissible fade show" role="alert">
                <div class="icon-wrap">
                    <ion-icon name="checkmark-done-circle-outline"></ion-icon>
                </div>
                <div>
                    Added successfully ....
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
       <% } %>
</div>
<% if (costumers.length >0 ) { %>
 <% costumers.forEach(element => { %>
    <% if (element.role == 'admin') { %>
     <% } else { %>
      <div class="section mt-4">
        <div class="transactions">
            <!-- item -->
            <a href="/userid/<%= element.user_id %>" class="item">
                <div class="detail">
                    <img src="assets/img/663338.png" alt="img" class="image-block imaged w48">
                    <div>
                        <strong><%= element.user_name%>  </strong>
                        <p><%= element.role %> </p>
                    </div>
                </div>
            </a>
            <!-- * item -->
        </div>
    </div>
    <% } %>
  
 <% }) %>
<% } else { %>
    <div class="section mt-4">
        <div class="transactions">
            <!-- item -->
            <a href="" class="item">
                <div class="detail">
                    <img src="assets/img/hlogo.png" alt="img" class="image-block imaged w48">
                    <div>
                        <strong>Name not found </strong>
                        <p>Still not found yet .. </p>
                    </div>
                </div>
            </a>
            <!-- * item -->
        </div>
    </div>
 <% } %> 
